alembic==1.7.5
autopep8==1.6.0
bcrypt==3.2.0
bidict==0.21.4
blinker==1.4
cachelib==0.4.1
cffi==1.15.0
click==8.0.3
cryptography==36.0.0
Flask==1.1.2
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Session==0.4.0
Flask-SocketIO==4.3.1
Flask-SQLAlchemy==2.5.1
Flask-User==1.0.2.2
Flask-WTF==0.15.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
passlib==1.7.4
pycodestyle==2.8.0
pycparser==2.21
python-engineio==3.13.2
python-socketio==4.6.0
six==1.16.0
SQLAlchemy==1.4.27
toml==0.10.2
Werkzeug==2.0.2
WTForms==2.3.3
