{% extends "base.html" %} {% block title %}Create Group{% endblock %}

{% block content %}
<!-- use jinja.palletprojects.com for proper syntax examples-->
<form method="POST">
	<h3 allign="center">Create Group</h3>
	<!-- creates a class that allows user to enter first name of user-->
	<div class="form-group">
		<label for="FirstName"> Group Name</label>
		<input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter group name" />
	</div>
	<!-- creates a class that allows user to enter password-->
	<div class="form-group">
		<label for="password1"> Group Password</label>
		<input type="password" class="form-control" id="password1" name="password1"
			placeholder="Enter group password" />
	</div>
	<!-- creates a class that allows to user to confirm password-->
	<div class="form-group">
		<label for="password2"> Group Password (Confirm)</label>
		<input type="password" class="form-control" id="password2" name="password2"
			placeholder="Please confirm group password" />
	</div>
	<br />
	<!-- creates a clickable button-->
	<button type="submit" class="btn btn-primary">Create</button>
	</br>
</form>
{% endblock %}