{% extends "base.html" %} {%block title %}Download{% endblock %}

{% block content %}
<h1>Download File</h1>
<body class="body">
	<div class="container" align="center">
		<!-- changed some button asethetics -->
		<a href="/return-files/{{value}}" target="blank"><button class='btn btn-primary'>Download</button></a>
	</div>
</body>
<h1>Delete File</h1>
<body class="body">
	<div class="container" align="center">
		<!-- changed some button asethetics -->
		<a href="/delete-files/{{value}}" target="blank"><button class='btn btn-primary'>Delete</button></a>
	</div>
</body>
{%endblock%}